.main{
    width:100%;
    margin-bottom: 100px;
}

h1{
    margin: 50px;
    font-size: 50px;;
}



.header{
    height: fit-content;
    overflow:visible;
}

section{
    display:flex;
}

nav{
    flex:1;
    position:sticky;
    top:100px;
    margin-left:30px;
    margin-top:200px;

}

article{

    flex:4;
    
}

.menu{
    width:600px;
    border:2px solid white;
    border-radius: 20px;
    padding:20px;
    margin:10px;
}

.menu:hover{
    border-color: rgb(219, 219, 219); 
 
}

.inside{
    text-decoration: none;
    color:black;
}

.section{
    text-align: left;
    width:300px;
    margin-left:1150px;
    margin-top:-3000px;
}

.order{
    margin:20px;      
    text-decoration: none;
    color:rgb(61, 61, 61);

}

.order:hover{
    text-decoration: underline;
}

.insideimg{
    float:right;
    width:200px;
}